---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4895'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["pacernation"],"type":"image","location":null,"comments":{"count":289,"data":[{"created_time":"1384059635","text":"Fuck
        yeah boyyy","from":{"username":"jonnyperls30","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_325974465_75sq_1363145215.jpg","id":"325974465","full_name":"Jon
        Perlman"},"id":"585857141749631457"},{"created_time":"1384059680","text":"MVP
        #paulgeorgeforpresident","from":{"username":"bgoff21","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_641536465_75sq_1383640586.jpg","id":"641536465","full_name":"Brendon
        Goff"},"id":"585857524907690478"},{"created_time":"1384059818","text":"Beat
        the Heat!!!!!!","from":{"username":"ribbles413","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/prof[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=43.647717893,-79.376069653&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Scott Street",
                       "short_name" : "Scott St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "St. Lawrence",
                       "short_name" : "St. Lawrence",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Old Toronto",
                       "short_name" : "Old Toronto",
                       "types" : [ "sublocality", "political" ]
                    },
                    {
           [...]
[...]
