---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4916'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":15,"data":[{"created_time":"1384053205","text":"So
        beautiful!!!!","from":{"username":"alk11","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_7563232_75sq_1376174893.jpg","id":"7563232","full_name":"Abby
        Kazik"},"id":"585803207834670469"},{"created_time":"1384053524","text":"@helloross
        You are so REFRESHING and I love your show.!!!!!!!!!!!","from":{"username":"tinarocklin","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_215654273_75sq_1383838464.jpg","id":"215654273","full_name":"ChrisTINA"},"id":"585805883045647902"},{"created_time":"1384053782","text":"\u2764\ufe0f\ud83d\udc9b\ud83d\udc9a\ud83d\udc99\ud83d\udc9c\ud83d\udc95\ud83d\udc95\ud83d\udc8b\u[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4915'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":{"latitude":41.791064437,"longitude":-87.598073529},"comments":{"count":116,"data":[{"created_time":"1384053678","text":"Kid
        better keep that picture forever","from":{"username":"danfiore29","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/anonymousUser.jpg","id":"261533764","full_name":"Dan
        Fiore"},"id":"585807176549546409"},{"created_time":"1384053722","text":"Your
        verse on tweakin \ud83d\udc4c\ud83d\udc4c","from":{"username":"kevsodmg","profile_picture":"http:\/\/images.ak.instagram.com\/pro[...]
