---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["californiawheels","sema","caliwheels"],"type":"image","location":{"latitude":36.127350972,"name":"Wynn
        Hotel","longitude":-115.165574306,"id":67376851},"comments":{"count":11,"data":[{"created_time":"1384031456","text":"@ry4nc123","from":{"username":"robynmckay13","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_274079094_75sq_1380326983.jpg","id":"274079094","full_name":"Robyn
        McKay \ud83d\ude1b\ud83c\udfb6"},"id":"585620765237692014"},{"created_time":"1384031494","text":"I
        have one","from":{"username":"13skokal13","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_242632302_75sq_1383170960.jpg","id":"242632302","full_name":"Anthony
        Skokal\ud83d\ude0f"},"id":"585621083778303624"},{"created_time":"1384031503","text":"Those
        orange wheels in the back... I need them!! \ud83d\udc9c\ud83d\ude0d","from":{"username":"[...]
[...]
