---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4914'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["shop","187inc","rebootingmyself","donotdisturb","sotired"],"type":"image","location":null,"comments":{"count":33,"data":[{"created_time":"1384054040","text":"sexy","from":{"username":"zuimengrensheng","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/anonymousUser.jpg","id":"647417548","full_name":"\u9189\u68a6\u4eba\u751f"},"id":"585810210879953220"},{"created_time":"1384054127","text":"Nicccce
        \u2665\u2665","from":{"username":"beboo9944","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_488136105_75sq_1383855236.jpg","id":"488136105","full_name":"\u0637\u0643
        \u062a\u062d\u064a\u0640\u0650\u0651\u0650\u0629 \u0643\u062f\u0627\u0645\u0643\u0650\u0651
        \u0639\u06c1\u0631\u0627\u0642\u064a\u0640\u0650\u0651\u0647"},"id":"585810939397003634"},{"cr[...]
[...]
