---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4916'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":[],"type":"image","location":{"latitude":41.791064437,"longitude":-87.598073529},"comments":{"count":116,"data":[{"created_time":"1384053678","text":"Kid
        better keep that picture forever","from":{"username":"danfiore29","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/anonymousUser.jpg","id":"261533764","full_name":"Dan
        Fiore"},"id":"585807176549546409"},{"created_time":"1384053722","text":"Your
        verse on tweakin \ud83d\udc4c\ud83d\udc4c","from":{"username":"kevsodmg","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_16677965_75sq_1382410848.jpg","id":"16677965","full_name":"kevsodmg"},"id":"585807542183803325"},{"created_time":"1384053943","text":"nos
        vale madre","from":{"username":"whitechristian","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/p[...]
[...]
