---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular.json?access_token=5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="5282788.03ec8eb.a2ec0a138ea846bbb87a25298a2e216b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"tags":["lalanotivoli","circuitocausaad","lalaemsalvador","lalaontour","projetolalanoleto","tivoliecoresort","sup"],"type":"image","location":{"latitude":-12.580893047,"name":"Tivoli
        EcoResort Praia do Forte","longitude":-38.013575734,"id":955196},"comments":{"count":34,"data":[{"created_time":"1384030448","text":"#sex","from":{"username":"aliabusofeh","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_368305817_75sq_1367652439.jpg","id":"368305817","full_name":"Ali
        abuSofeh"},"id":"585612309044566081"},{"created_time":"1384030496","text":"Nos
        queiroz! @tataaraujo @belatiemi","from":{"username":"brunalafayette","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_26192966_75sq_1383527212.jpg","id":"26192966","full_name":"brunalafayette"},"id":"585612707587332178"},{"created_time":"1384030547","text":"\u2708","from":{"username":"92strengh","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_490767378_[...]
[...]
